@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&display=swap');

h1 { font-family: 'DM Sans', sans-serif; font-size: 30px; text-align: center; color: rgb(225, 16, 16);}
h2 { font-family: 'Poppins', sans-serif; font-size: 10px; color:rgb(82, 84, 84); font-weight: 500;}
h3 { font-family: 'Raleway', sans-serif; font-size: 16px; color: rgb(82, 84, 84); font-weight: 500}
h4 { font-family: 'Poppins', sans-serif; font-size: 13px; color:rgb(82, 84, 84); font-weight: 500;}

p {font-family: 'Raleway', sans-serif; font-size: 16px; text-align: center; font-weight: 200;}


* {box-sizing: border-box} /* Fylder hele siden */

body {
background-color:white;
}
main {padding-top: 90px;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #dad8d8;
  }

  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  
  hr {
    border: 1px solid #000000;
    margin-bottom: 25px;
  }

  label {
    position: relative;
}

#eyeicon {
  cursor: pointer;
  width: 35px;
  position: relative;
} 

#eyeicon input{
  width: 100%;
  padding: 10px 0;
  border: 0;
  outline: 0;
  font: 24px;


}
select {width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #dad8d8}

  button {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    }

  button:hover {
    opacity:1;
    background-color: rgb(225, 16, 16);
  }

  .loginbtn {
    padding: 14px 20px;
    background-color: #7c7b7b;
  }

  .loginbtn:hover {
    opacity:1;
    background-color: #191919;
  }

  .container {
    padding: 10px 500px;
  }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

