
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins:wght@500&family=Raleway&display=swap');

.logo {
    height: 50px;
    width: auto;
}

.header {
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    padding: 50px;
}

.header-right {
    display: flex;
}









