<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

.header {
    background-color: green;
    display: flex;
    flex-direction: row;
    
}

.header ul {
    list-style: none;
    display: inline;
    
}
=======
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins:wght@500&family=Raleway&display=swap');
>>>>>>> 6946886ab485a7ce872d43989c80cfa9fad31618
