
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&display=swap');

h1 { font-family: 'DM Sans', sans-serif; font-size: 24px; font-weight: 300;}
h2 { font-family: 'Poppins', sans-serif; font-size: 22px; font-weight: 900;}
h3 { font-family: 'Raleway', sans-serif; font-size: 16px;font-weight:400;}
p {font-family: 'Raleway', sans-serif; font-size: 14px; font-weight: 200;}

/* header */

.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
  }
  

body {
    margin: 0;
}

a {
    color: black;
}

.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.header i{
    font-size: 20px;
}

.logo {
    height: 80px;
    width: auto;
}

.header-left {
    display: flex;
    padding-left: 30px;
}

.header-right {
    display: flex;
    padding-right: 30px;
}

.header-left i{
    padding-right: 20px;
}

.header-right i{
    padding-left: 20px;
}


/* main */

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 90px;
}

/*slideshow*/

.slideshow{
    background-color: red;
}

/*alt det der står til højre*/

.info {
    background-color: white;
    padding: 30px 120px;
}

.info i{
    font-size: 20px;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.american {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.priser {
    display: flex;
    flex-wrap: wrap;
}

.newPrice {
    padding-right: 10px;
    color: red;
    font-weight: 100;
}

.oldPrice {
    text-decoration: line-through;
    font-weight: 100;
}

.lavestePris {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.lavestePris i{
    font-size: 15px;
}

.lavestePris *{
    padding-right: 10px;
}

.gamlePris {
    text-decoration: line-through;
}

.farven {
    display: flex;
}

.farven * {
    padding-right: 10px;
}

.farve {
    font-weight: bolder;
}

.size {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.size *{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid grey 0.5px;
    width: 50px;
    height: auto;
    padding: 20px;
    margin: 0;
}

.size *:hover{
    border: black solid 1px;
    background-color: gray;
}

.button-container{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.add {
    width: 100%;
    color: white;
    background-color: black;
    border: 0;
}

.add:hover {
    background-color: grey;
}

.warehouse {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.warehouse p {
    padding-left: 10px;
}

.fragt {
    display: flex;
    align-items: center;
}

.fragt p {
    padding-left: 10px;
}

.return {
    display: flex;
    align-items: center;
}

.return p {
    padding-left: 10px;
}




  















